body {

    margin: 0;
 
    font-family: Cambria, Cochin, Georgia, Times, ‘Times New Roman’, serif
 
 }
 
 .sidebar {
 
    margin: 0;
 
    padding: 0;
 
    width: 200px;
 
    background-color: #f1f1f12b;
 
    position: fixed;
 
    height: 100%;
 
    overflow: auto;
 
    box-shadow: 1px 0 10px black;
 
 }
 
 .sidebar a {
 
    display: block;
 
    color: black;
 
    padding: 16px;
 
    text-decoration: none;
 
 }
 
 .sidebar a.active {
 
    background-color: #aa0404;
 
    color: white;
 
 }
 
 .sidebar a:hover:not(.active) {
 
    background-color: #aa0404;
 
    color: white;
 
 }
 
 main.content {
 
    margin-left: 200px;
 
    padding: 1px 16px;
 
    height: 1000px;
 
 }
 
 .btn {
 
    padding: 14px 14px;
 
    background-color: #aa0404;
 
    border: none;
 
    border-radius: 8px;
 
    color: white;
 
    font-weight: bold;
 
    box-shadow: 0 4px black;
 
 }
 
 button.btn:hover {
 
    background-color: #c60606;
 
 }
 
 button.btn:active {
 
    margin-top: 3px;
 
    box-shadow: none;
 
 }
 
 @media screen and (max-width: 700px) {
 
    .sidebar {
 
       width: 100%;
 
       height: auto;
 
       position: relative;
 
    }
 
    .sidebar a {
 
       float: left;
 
    }
 
    main.content {
 
       margin-left: 0;
 
    }
 
 }
 
 @media screen and (max-width: 400px) {
 
    .sidebar a {
 
       text-align: center;
 
       float: none;
 
    }
 
 }